# Problem 1

Task: Extend your script to insert multiple superhero records at once.

- Create a list of dictionaries where each dictionary represents a superhero.
- Insert all superheroes into the database using a single transaction.

### Database Creating

In [1]:
import sqlite3

# Connect to the SQLite database
con = sqlite3.connect('superheroes.db', timeout=10)
cur = con.cursor()



# Check if the table exists
cur.execute("SELECT name FROM sqlite_master WHERE type='table' AND name='superheroes'")
if cur.fetchone() is None:
    # Create table if it doesn't exist
    cur.execute("""
        CREATE TABLE superheroes (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            first_name TEXT NOT NULL,
            last_name TEXT NOT NULL,
            release_date INTEGER NOT NULL,
            hero_name TEXT NOT NULL,
            powers TEXT NOT NULL
        )
    """)
    #con.commit()
    
    print("Table created.")    
else:
    cur.execute("""
        DROP TABLE superheroes        
                """)
    cur.execute("""
        CREATE TABLE superheroes (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            first_name TEXT NOT NULL,
            last_name TEXT NOT NULL,
            release_date INTEGER NOT NULL,
            hero_name TEXT NOT NULL,
            powers TEXT NOT NULL
        )
    """)
    print("Table already exists.")
    con.commit()

Table already exists.

### Soluton - Create a list of dictionaries where each dictionary represents a superhero

In [2]:
superheroes = [
    {'first_name':'Bruce', 'last_name':'Vayne', 'release_date':1939, 'hero_name':'Batman','powers':'Intelligent, Rich, Power Armor'},
    {'first_name':'Barry', 'last_name': 'Allan', 'release_date':1940, 'hero_name':'The Flash','powers':'Superspeed, Lightning Manipulation, Speed Force'},
    {'first_name':'Tony', 'last_name':'Stark','release_date':1963, 'hero_name':'Ironman','powers':'Power Armor, Intelligent, Rich'},
    {'first_name':'Peter', 'last_name':'Parker','release_date':1962,'hero_name':'Spiderman','powers':'Super Sence, Spiderweb, athletic'},
]


   

# Insert multiple records, use for loop
for hero in superheroes:
    cur.execute("""
        INSERT INTO superheroes (first_name, last_name, release_date, hero_name, powers)
        VALUES (?, ?, ?, ?, ?)
    """, (hero['first_name'], hero['last_name'],hero['release_date'], hero['hero_name'], hero['powers']))
con.commit()


cur.execute("SELECT * from superheroes")

for row in cur.execute("SELECT * from superheroes"):
    print(row)

Data inserted successfully.
(1, 'Bruce', 'Vayne', 1939, 'Batman', 'Intelligent, Rich, Power Armor')
(2, 'Barry', 'Allan', 1940, 'The Flash', 'Superspeed, Lightning Manipulation, Speed Force')
(3, 'Tony', 'Stark', 1963, 'Ironman', 'Power Armor, Intelligent, Rich')
(4, 'Peter', 'Parker', 1962, 'Spiderman', 'Super Sence, Spiderweb, athletic')