# Problem 2

Task: Create a new table for supervillains with a similar structure and insert some records.

- Table name: supervillains
- Fields: id, first_name, last_name, debut_year, villain_name, powers

### Database Creation

In [8]:
import sqlite3

con = sqlite3.connect("heroes_villains.db", timeout=10)
cur = con.cursor()
    
cur.execute("SELECT name FROM sqlite_master WHERE type='table'")
tables = cur.fetchall()
    
for table in tables:
    if table [0] != 'sqlite_sequence':    
        cur.execute(f"DROP TABLE IF EXISTS {table[0]}")
        
con.commit()

cur.execute("""
        CREATE TABLE heroes (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            first_name TEXT NOT NULL,
            last_name TEXT NOT NULL,
            release_date INTEGER NOT NULL,
            hero_name TEXT NOT NULL,
            powers TEXT NOT NULL
        )
    """)
con.commit()

cur.execute("""
        CREATE TABLE villains(
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            first_name TEXT NOT NULL,
            last_name TEXT NOT NULL,
            release_date INTEGER NOT NULL,
            villain_name TEXT NOT NULL,
            powers TEXT NOT NULL
        )    
    """)
con.commit()

res = cur.execute("SELECT name FROM sqlite_master")
res.fetchall()

[('sqlite_sequence',), ('heroes',), ('villains',)]

### Problem 1 Solution - Create a table for superheroes

In [9]:
heroes = [
    {'first_name':'Bruce', 'last_name':'Vayne', 'release_date':1939, 'hero_name':'Batman','powers':'Intelligent, Rich, Power Armor'},
    {'first_name':'Barry', 'last_name': 'Allan', 'release_date':1940, 'hero_name':'The Flash','powers':'Superspeed, Lightning Manipulation, Speed Force'},
    {'first_name':'Tony', 'last_name':'Stark','release_date':1963, 'hero_name':'Ironman','powers':'Power Armor, Intelligent, Rich'},
    {'first_name':'Peter', 'last_name':'Parker','release_date':1962,'hero_name':'Spiderman','powers':'Super Sence, Spiderweb, athletic'},
]

cur.execute("SELECT COUNT(*) FROM heroes")
cur_result = cur.fetchone()[0]

if cur_result == 0:
    for hero in heroes:
        cur.execute("""
                    INSERt INTO heroes(first_name, last_name, release_date, hero_name, powers)
                    VALUES (?, ?, ?, ?, ?)
                    """, (hero['first_name'], hero['last_name'], hero['release_date'], hero['hero_name'], hero['powers']))
        con.commit()

for row in cur.execute("SELECT * from heroes"):
    print(row)

(1, 'Bruce', 'Vayne', 1939, 'Batman', 'Intelligent, Rich, Power Armor')
(2, 'Barry', 'Allan', 1940, 'The Flash', 'Superspeed, Lightning Manipulation, Speed Force')
(3, 'Tony', 'Stark', 1963, 'Ironman', 'Power Armor, Intelligent, Rich')
(4, 'Peter', 'Parker', 1962, 'Spiderman', 'Super Sence, Spiderweb, athletic')

### problem 2 Solution - create a similar new table for supervillains

In [10]:
villains = [
    {'first_name':'Arthur','last_name':'Fleck','release_date':2019,'villain_name':'Joker','powers':'Master Manipulator, Chemical Engineer, Master Planner '},
    {'first_name':'Eobard','last_name':'Thawne','release_date':1963,'villain_name':'Reverse Flash','powers':'Negative Speed Force, Superspeed, Lightning Manipulation'},
    {'first_name':'Gene','last_name':'Kahn','release_date':1964,'villain_name':'Mandarin','powers':'Genius-level Intellect, Master of Martial Arts, Expert Strategist and Tactician'},
    {'first_name':'Norman','last_name':'Osborn','release_date':1964,'villain_name':'Green Goblin','powers':'Superhuman Strength, Superhuman Speed, Superhuman Refelexes'},
]

cur.execute("SELECT COUNT(0) FROM villains")
cur_result = cur.fetchone()[0]

if cur_result == 0:
    for villain in villains:
        cur.execute("""
            INSERT INTO villains (first_name, last_name, release_date, villain_name, powers)
            VALUES (?, ?, ?, ?, ?)        
        """, (villain['first_name'], villain['last_name'], villain['release_date'], villain['villain_name'], villain['powers']))
    con.commit()

for row in cur.execute("SELECT * from villains"):
    print(row)

(1, 'Arthur', 'Fleck', 2019, 'Joker', 'Master Manipulator, Chemical Engineer, Master Planner ')
(2, 'Eobard', 'Thawne', 1963, 'Reverse Flash', 'Negative Speed Force, Superspeed, Lightning Manipulation')
(3, 'Gene', 'Kahn', 1964, 'Mandarin', 'Genius-level Intellect, Master of Martial Arts, Expert Strategist and Tactician')
(4, 'Norman', 'Osborn', 1964, 'Green Goblin', 'Superhuman Strength, Superhuman Speed, Superhuman Refelexes')