# Problem 4

Task: Write a script to update the powers of a specific superhero.

- Choose a superhero and change their powers.
- Make sure to print out the updated record to verify the change.

In [15]:
import sqlite3

con = sqlite3.connect("heroes_villains.db", timeout=10)
cur = con.cursor()

cur.execute("SELECT name FROm sqlite_master WHERE type='table'")
tables = cur.fetchall()

for table in tables:
    if table[0] != 'sqlite_sequence':
        cur.execute(f"DROP TABLE IF EXISTS {table[0]}")

con.commit()

cur.execute("""
        CREATE TABLE heroes (
            hero_id INTEGER PRIMARY KEY AUTOINCREMENT,
            first_name TEXT NOT NULL,
            last_name TEXT NOT NULL,
            release_date INTEGER NOT NULL,
            hero_name TEXT NOT NULL,
            powers TEXT NOT NULL
        )
    """)
con.commit()

cur.execute("""
        CREATE TABLE villains(
            villain_id INTEGER PRIMARY KEY AUTOINCREMENT,
            first_name TEXT NOT NULL,
            last_name TEXT NOT NULL,
            release_date INTEGER NOT NULL,
            villain_name TEXT NOT NULL,
            powers TEXT NOT NULL
        )
    """)
con.commit()

cur.execute("""
        CREATE TABLE arch_nemesis(
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            hero_id INTEGER NOT NULL,
            villain_id INTEGER NOT NULL,
            FOREIGN KEY(hero_id) REFERENCES heroes(hero_id)
            FOREIGN KEY(villain_id) REFERENCES villains(villain_id)
        )
""")
con.commit()

res = cur.execute("SELECT name from sqlite_master")
res.fetchall()

[('sqlite_sequence',), ('heroes',), ('villains',), ('arch_nemesis',)]

In [16]:
heroes = [
    {'first_name':'Bruce', 'last_name':'Vayne', 'release_date':1939, 'hero_name':'Batman','powers':'Intelligent, Rich, Power Armor'},
    {'first_name':'Barry', 'last_name': 'Allan', 'release_date':1940, 'hero_name':'The Flash','powers':'Superspeed, Lightning Manipulation, Speed Force'},
    {'first_name':'Tony', 'last_name':'Stark','release_date':1963, 'hero_name':'Ironman','powers':'Power Armor, Intelligent, Rich'},
    {'first_name':'Peter', 'last_name':'Parker','release_date':1962,'hero_name':'Spiderman','powers':'Super Sence, Spiderweb, athletic'},
]

villains = [
    {'first_name':'Arthur','last_name':'Fleck','release_date':2019,'villain_name':'Joker','powers':'Master Manipulator, Chemical Engineer, Master Planner '},
    {'first_name':'Eobard','last_name':'Thawne','release_date':1963,'villain_name':'Reverse Flash','powers':'Negative Speed Force, Superspeed, Lightning Manipulation'},
    {'first_name':'Gene','last_name':'Kahn','release_date':1964,'villain_name':'Mandarin','powers':'Genius-level Intellect, Master of Martial Arts, Expert Strategist and Tactician'},
    {'first_name':'Norman','last_name':'Osborn','release_date':1964,'villain_name':'Green Goblin','powers':'Superhuman Strength, Superhuman Speed, Superhuman Refelexes'},
]


for hero in heroes:
    cur.execute("""
                INSERt INTO heroes(first_name, last_name, release_date, hero_name, powers)
                VALUES (?, ?, ?, ?, ?)
                """, (hero['first_name'], hero['last_name'], hero['release_date'], hero['hero_name'], hero['powers']))
    con.commit

for villain in villains:
    cur.execute("""INSERT INTO villains

""")

for row in cur.execute("SELECT * from heroes"):
    print(row)

(1, 'Bruce', 'Vayne', 1939, 'Batman', 'Intelligent, Rich, Power Armor')
(2, 'Barry', 'Allan', 1940, 'The Flash', 'Superspeed, Lightning Manipulation, Speed Force')
(3, 'Tony', 'Stark', 1963, 'Ironman', 'Power Armor, Intelligent, Rich')
(4, 'Peter', 'Parker', 1962, 'Spiderman', 'Super Sence, Spiderweb, athletic')