# Problem 5

Task: Write a script to delete a specific superhero or supervillain from the database.

- Choose a superhero or supervillain and delete their record.
- Print the remaining records to verify the deletion.

### Database cretion

In [1]:
import sqlite3

con = sqlite3.connect("heroes_villains.db", timeout=10)
cur = con.cursor()

cur.execute("SELECT name from sqlite_master WHERE type='table'")
tables = cur.fetchall()

for table in tables:
    if table[0] != 'sqlite_sequence':
        cur.execute(f"DROP TABLE IF EXISTS {table[0]}")

con.commit()

cur.execute("""
        CREATE TABLE heroes (
            hero_id INTEGER PRIMARY KEY AUTOINCREMENT,
            first_name TEXT NOT NULL,
            last_name TEXT NOT NULL,
            release_date INTEGER NOT NULL,
            hero_name TEXT NOT NULL,
            powers TEXT NOT NULL
        )
    """)
con.commit()

cur.execute("""
        CREATE TABLE villains(
            villain_id INTEGER PRIMARY KEY AUTOINCREMENT,
            first_name TEXT NOT NULL,
            last_name TEXT NOT NULL,
            release_date INTEGER NOT NULL,
            villain_name TEXT NOT NULL,
            powers TEXT NOT NULL
        )
    """)
con.commit()

cur.execute("""
        CREATE TABLE arch_nemesis(
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            hero_id INTEGER NOT NULL,
            villain_id INTEGER NOT NULL,
            FOREIGN KEY(hero_id) REFERENCES heroes(hero_id)
            FOREIGN KEY(villain_id) REFERENCES villains(villain_id)
        )
""")
con.commit()

req_heroes = cur.execute("SELECT name FROM sqlite_master")
req_heroes.fetchall()

[('sqlite_sequence',), ('heroes',), ('villains',), ('arch_nemesis',)]

### Problem 1 Solution - create a table for superheroes

In [2]:
heroes = [
    {'first_name':'Bruce', 'last_name':'Vayne', 'release_date':1939, 'hero_name':'Batman','powers':'Intelligent, Rich, Power Armor'},
    {'first_name':'Barry', 'last_name': 'Allan', 'release_date':1940, 'hero_name':'The Flash','powers':'Superspeed, Lightning Manipulation, Speed Force'},
    {'first_name':'Tony', 'last_name':'Stark','release_date':1963, 'hero_name':'Ironman','powers':'Power Armor, Intelligent, Rich'},
    {'first_name':'Peter', 'last_name':'Parker','release_date':1962,'hero_name':'Spiderman','powers':'Super Sence, Spiderweb, athletic'},
]

cur.execute("SElECT COUNT(*) FROM heroes")
result = cur.fetchone()[0]

if result == 0:
    for hero in heroes:    
        cur.execute("""
                    INSERT INTO heroes (first_name, last_name, release_date, hero_name, powers)
                    VALUES (?, ?, ?, ?, ?)
                    """, (hero['first_name'], hero['last_name'], hero['release_date'], hero['hero_name'], hero['powers']))
        con.commit()       

for row in cur.execute("SELECT * FROM heroes"):
    print(row)

(1, 'Bruce', 'Vayne', 1939, 'Batman', 'Intelligent, Rich, Power Armor')
(2, 'Barry', 'Allan', 1940, 'The Flash', 'Superspeed, Lightning Manipulation, Speed Force')
(3, 'Tony', 'Stark', 1963, 'Ironman', 'Power Armor, Intelligent, Rich')
(4, 'Peter', 'Parker', 1962, 'Spiderman', 'Super Sence, Spiderweb, athletic')

### Prolem 2 Solution - Create a new table for supervillains

In [3]:
villains = [
    {'first_name':'Arthur','last_name':'Fleck','release_date':2019,'villain_name':'Joker','powers':'Master Manipulator, Chemical Engineer, Master Planner '},
    {'first_name':'Eobard','last_name':'Thawne','release_date':1963,'villain_name':'Reverse Flash','powers':'Negative Speed Force, Superspeed, Lightning Manipulation'},
    {'first_name':'Gene','last_name':'Kahn','release_date':1964,'villain_name':'Mandarin','powers':'Genius-level Intellect, Master of Martial Arts, Expert Strategist and Tactician'},
    {'first_name':'Norman','last_name':'Osborn','release_date':1964,'villain_name':'Green Goblin','powers':'Superhuman Strength, Superhuman Speed, Superhuman Refelexes'},
]

cur.execute("SELECT COUNT(*) FROM villains")
res_heroes = cur.fetchone()[0]

if res_heroes == 0:
    for villain in villains:
        cur.execute("""
                    INSERT INTO villains (first_name, last_name, release_date, villain_name, powers)
                    VALUES (?, ?, ?, ?, ?)
                    """, (villain['first_name'], villain['last_name'], villain['release_date'], villain['villain_name'], villain['powers']))
        con.commit()

for row in cur.execute("SELECT * FROM villains"): 
    print(row)

(1, 'Arthur', 'Fleck', 2019, 'Joker', 'Master Manipulator, Chemical Engineer, Master Planner ')
(2, 'Eobard', 'Thawne', 1963, 'Reverse Flash', 'Negative Speed Force, Superspeed, Lightning Manipulation')
(3, 'Gene', 'Kahn', 1964, 'Mandarin', 'Genius-level Intellect, Master of Martial Arts, Expert Strategist and Tactician')
(4, 'Norman', 'Osborn', 1964, 'Green Goblin', 'Superhuman Strength, Superhuman Speed, Superhuman Refelexes')

### Problem 3 Solution - create a table to establish reletianship between heroes and villains

In [4]:
req_heroes = cur.execute("SELECT hero_id FROM heroes")
res_heroes = req_heroes.fetchall()

req_villains = cur.execute("SELECT villain_id FROM villains")
res_villains = req_villains.fetchall()


req_archNem_check = cur.execute("SELECT COUNT(*) FROM arch_nemesis")
res_archNem_check = req_archNem_check.fetchone()[0]

if res_archNem_check == 0:
    for hero_id, villain_id in zip (res_heroes, res_villains):
        cur.execute("""
                    INSERT INTO arch_nemesis (hero_id, villain_id)
                    VALUES (?, ?)
                    """, (hero_id[0], villain_id[0]))
        con.commit()

for row in cur.execute("SELECT * FROM arch_nemesis"):
    print(row)

(1, 1, 1)
(2, 2, 2)
(3, 3, 3)
(4, 4, 4)

### Problem 4 Solution - Update the powers of a chosen hero or villain

In [5]:
import random

cur.execute(f"UPDATE heroes SET powers = 'New, Random, Powers, !' WHERE hero_id = {random.randint(1,4)};")

con.commit()

for row in cur.execute("SELECT * FROM heroes"):
    print(row)

(1, 'Bruce', 'Vayne', 1939, 'Batman', 'New, Random, Powers, !')
(2, 'Barry', 'Allan', 1940, 'The Flash', 'Superspeed, Lightning Manipulation, Speed Force')
(3, 'Tony', 'Stark', 1963, 'Ironman', 'Power Armor, Intelligent, Rich')
(4, 'Peter', 'Parker', 1962, 'Spiderman', 'Super Sence, Spiderweb, athletic')

### Problem 5 Solution - Delete a record

In [6]:
import random

cur.execute(f"DELETE FROM heroes WHERE hero_id={random.randint(1,4)}")

con.commit()

for row in cur.execute("SELECT * FROM heroes"):
    print(row)

(1, 'Bruce', 'Vayne', 1939, 'Batman', 'New, Random, Powers, !')
(2, 'Barry', 'Allan', 1940, 'The Flash', 'Superspeed, Lightning Manipulation, Speed Force')
(3, 'Tony', 'Stark', 1963, 'Ironman', 'Power Armor, Intelligent, Rich')